.asideb{
    grid-area: asideb;
    background-color: color('opaco');
    border-radius:5px 5px 0 0;
    box-sizing: border-box;
    overflow: none;
    width: 100%!important;
    h2{
        font-size: 18px;
        display:inline-block;
        width: 100%!important;
        text-align: center;
        background-color: color('naranja');
        padding:11px 0;
        margin: 0;
        border-radius:5px 5px 0 0;
        margin-bottom: 11px;
    }
    .nue_vol{
        width: 100%!important;
        margin: 0;
        margin-top:-27px;
        padding: 0;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius:5px 5px 0 0;
    }
    .nue_nov{
        width: 100%!important;
        margin: 0;
        margin-top:-27px;
        padding: 0;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius:5px 5px 0 0;
    }
    .top_des{
        width: 100%!important;
        margin: 0;
        margin-top:-27px;
        padding: 0;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius:5px 5px 0 0;
    }
}