.registro{
    @extend .login;
    top:25%;
    left:35%;
    width: 30%;
    .close{
        @extend .close;
    }
    h3{
        @extend h3;
    }
    input{
        @extend input;
    }
    .btn-registro{
        @extend .btn-login;
        margin: 21px auto;
    }
    .input-file {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
    .input-file-trigger {
        display: inline-block;
        padding: 7px 3px;
        background:color('azul');
        color: color('blanco');
        font-size: 1em;
        cursor: pointer;
        border-radius: 5px;
        border:solid 2px color('blanco');
    }
      .input-file-trigger:hover {
        background: #333;
        color: #fff;
    }
    .input-file-container 
    {
        position: relative;
        display: inline-block;
        margin-top: 0;
    }
}
@media only screen and (max-width: 1250px){
    .registro{
       
        top:25%;
        left:25%;
        width:50%;
    }
}
@media only screen and (max-width: 750px){
    .registro{
       
        top:25%;
        left:20%;
        width:60%;
    }
}
@media only screen and (max-width: 600px){
    .registro{
       
        top:25%;
        left:10%;
        width:80%;
    }
}
@media only screen and (max-width: 600px){
    .registro{
       
        top:25%;
        left:1%;
        width:98%;
    }
}